.board {
  background: rgb(0, 121, 191);
  height: 100vh;
}

.board-name {
  color: white;
}

.board-content {
  height: calc(100vh - 62px);
  white-space: nowrap;
  overflow-x: auto;
}

.add-list {
  background-color: #CDD2D4;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

.add-list input {
  background-color: #ddd;
}
